In [4]:
import pandas as pd

In [5]:
data = range(0,100_000)

In [14]:
list_append1=[]
list_append2=[]
list_append3=[]
list_append4=[]
list_append5=[]
df_list = pd.DataFrame({"DF1":[],"DF2":[],"DF3":[],"DF4":[],"DF5":[]})
for i in range(0,len(data)):
    list_append1.append(data[i])
    list_append2.append(data[i])
    list_append3.append(data[i])
    list_append4.append(data[i])
    list_append5.append(data[i])
df_list = pd.DataFrame({"DF1":list_append1,"DF2":list_append2,"DF3":list_append3,"DF4":list_append4,"DF5":list_append5})

In [18]:
df_df_add = pd.DataFrame({"DF1":[],"DF2":[],"DF3":[],"DF4":[],"DF5":[]})
df_df = pd.DataFrame({"DF1":[],"DF2":[],"DF3":[],"DF4":[],"DF5":[]})
for j in range(0,len(data)):
    var1 = data[j]
    var2 = data[j]
    var3 = data[j]
    var4 = data[j]
    var5 = data[j]
    df_df_add = pd.DataFrame({"DF1":[var1],"DF2":[var2],"DF3":[var3],"DF4":[var4],"DF5":[var5]})
    df_df = pd.concat([df_df,df_df_add], ignore_index=True )

In [23]:
x = df_df == df_list
x.sum()

DF1    100000
DF2    100000
DF3    100000
DF4    100000
DF5    100000
dtype: int64

In [9]:
del list_append1, list_append2, list_append3, list_append4, list_append5
del var1, var2, var3, var4, var5
del df_df, df_df_add, df_list

In [10]:
import pandas as pd
df_ocm = pd.read_excel('Resources/OCM_Codes.xlsx')

In [41]:
x = df_ocm[df_ocm['OCM'].isin([750])]
x

     OCM   Meaning
605  750  sickness

In [33]:
750 in df_ocm['OCM'].unique()

True

In [20]:

xx = "750s"
xx.isnumeric()

False

In [67]:
df_cult = pd.read_excel('Resources/Culture_Names.xlsx')

In [47]:
df_cult

            Region               SubRegion    Culture
0           africa          central africa     azande
1           africa          central africa    barundi
2           africa          central africa       masa
3           africa          central africa      mbuti
4           africa          central africa      mongo
..             ...                     ...        ...
356  south-america  southern south america     mataco
357  south-america  southern south america        ona
358  south-america  southern south america  tehuelche
359  south-america  southern south america     terena
360  south-america  southern south america     yahgan

[361 rows x 3 columns]

In [68]:
df_cult['Culture'] = df_cult.Culture.apply(lambda x: list(x))
df_cult_word =  df_cult.explode(column='Culture')

In [72]:
x = df_cult_word["Culture"].value_counts()
x

a    462
n    240
i    233
e    207
s    190
o    179
r    168
u    153
t    120
l    109
m    108
h    106
c     96
      90
k     84
b     82
g     53
d     51
p     46
y     38
w     27
z     18
v     18
f     17
j     17
q     13
-      7
x      6
1      6
(      5
)      5
é      3
4      2
8      2
5      2
ó      2
'      2
/      2
á      2
0      1
7      1
3      1
6      1
í      1
Name: Culture, dtype: int64

In [48]:
x = [['q','w','e']]
y = ['r','t','y']
x.append(y)
x

[['q', 'w', 'e'], ['r', 't', 'y']]

In [51]:
xx = 'rdd'
xx = list(xx)
xx

['r', 'd', 'd']