# Converter
For cleaning up OCM_codes_raw recieved from eHRAF

In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
df = pd.read_excel("OCM_codes_raw.xlsx", header=None)

In [3]:

row_list = []
# iterate through and split the OCM from its text meaning
for index, row in df.iterrows():
    OCM = re.findall(r'^[0-9]*\s', row[0])
    meaning = re.sub(OCM[0], "", row[0]).lower()
    OCM = OCM[0].strip()
    row_list.append((OCM, meaning))

In [4]:
# create new dtaframe with OCM and meaning in the respective columns
df_OCM = pd.DataFrame(row_list, columns=["OCM","Meaning"])

In [5]:
df_OCM

     OCM                             Meaning
0    000               material not relevant
1    100                         orientation
2    101                      identification
3    102                                maps
4    103                         place names
..   ...                                 ...
738  911  chronologies and culture sequences
739  912               cultural stratigraphy
740  913     functional specialization areas
741  914      typologies and classifications
742  915          archaeological inventories

[743 rows x 2 columns]

In [6]:
df_OCM.to_excel('OCM_Codes.xlsx', index=None)

## Cultural file clean up
from the eHRAF culture file, include rows of cultures which do not have an accented character

In [8]:
from unidecode import unidecode
import pandas as pd
df = pd.read_excel("Culture_Names_raw.xlsx")

In [9]:
df

            Region               SubRegion    Culture
0           africa          central africa     azande
1           africa          central africa    barundi
2           africa          central africa       masa
3           africa          central africa      mbuti
4           africa          central africa      mongo
..             ...                     ...        ...
356  south-america  southern south america     mataco
357  south-america  southern south america        ona
358  south-america  southern south america  tehuelche
359  south-america  southern south america     terena
360  south-america  southern south america     yahgan

[361 rows x 3 columns]

In [10]:
df["Culture_SansAccent"] = df["Culture"].apply(lambda x: unidecode(x))

In [11]:
df

            Region               SubRegion    Culture Culture_SansAccent
0           africa          central africa     azande             azande
1           africa          central africa    barundi            barundi
2           africa          central africa       masa               masa
3           africa          central africa      mbuti              mbuti
4           africa          central africa      mongo              mongo
..             ...                     ...        ...                ...
356  south-america  southern south america     mataco             mataco
357  south-america  southern south america        ona                ona
358  south-america  southern south america  tehuelche          tehuelche
359  south-america  southern south america     terena             terena
360  south-america  southern south america     yahgan             yahgan

[361 rows x 4 columns]

In [12]:
df.to_excel('Culture_Names.xlsx', index=None)